.custom--form__fieldset{
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-bottom-style: none;
    border-width: 0px;
}
.custom--form__fieldset.with-label > .custom--input__label{
    font-family: Arial, sans-serif;
    margin-bottom: 0 !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000;
    font-weight: 200;
}
.custom--form__fieldset.with-label .is-required{
    color: red !important;
    font-family: Arial, sans-serif;
}

.custom--input,
.custom--input__select{
    max-width: 100%;
    min-width: 100%;
    width: 98%;
    border: 0;
    border-radius: 0;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 0.85rem;
    background: transparent;
    background-image: url(../images/input-large.png);
    background-size: 100% 100%;
    margin: 0;
    text-transform: uppercase;
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    outline: 0 none;
}

.custom--input::placeholder {
    color: #fff !important;
    opacity: 1;
}

.custom--input__checkout{
    padding: 5px 10px;
}

.custom--input__checkout span.like-label, 
.custom--input__checkout a{
    color: #000;
    font-size: 12px;
    font-family: Arial, sans-serif;
    text-decoration: none !important;
}

/*checkout*/
.custom--input__checkout{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0px 12px;
    margin-bottom: 12px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.custom--input__checkout input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.custom--input__checkout .checkmark {
    display: inline-block;
    height: 25px;
    width: 20px;
    background-color: #000;
    position: relative;
    margin-right: 10px;
}

.custom--input__checkout:hover input ~ .checkmark {
    background-color: #000;
}

.custom--input__checkout input:checked ~ .checkmark {
    background-color: #000;
}

.custom--input__checkout .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom--input__checkout input:checked ~ .checkmark:after {
    display: block;
}

.custom--input__checkout .checkmark:after {
    left: 8px;
    top: 5px;
    width: 2px;
    height: 10px;
    border: solid #ffd100;
    border-width: 0 2.4px 2.4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom--input__button{
    background: url(../images/btn-submit.png) no-repeat center;
    background-size: contain;
    border: 0;
    border-radius: 0;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 1.8px;
    min-width: 215px;
    padding: 6px 12px;
}

@media (max-width: 599px) {
    .custom--input__checkout .checkmark{
        min-width: 20px;
        max-width: 20px;
        width: 20px;
        min-height: 20px;
        max-height: 20px;
        height: 20px;
    }
    .custom--input__checkout .checkmark:after {
        left: 8px;
        top: 3px;
    }
}